@mixin font($size, $height, $weight, $spacing) {
   font-size: $size;
   line-height: $height;
   font-weight: $weight;
   letter-spacing: $spacing;
}

@mixin media($size) {
   @media screen and (min-width: $size) {
      @content;
   }
}

@mixin calc($gap, $count) {
   width: calc((100% - $gap * ($count - 1)) / $count);
}

@mixin retina {
   @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      @content;
   }
}
