.container {
   margin-left: auto;
   margin-right: auto;
   padding-right: 15px;
   padding-left: 15px;
   width: 100%;

   @include media(480px) {
      max-width: 480px;
   }

   @include media(768px) {
      max-width: 768px;
   }

   @include media(1200px) {
      max-width: 1200px;
   }
}
