.modal {
   @extend %absolute-centered;
   width: 528px;
   height: 581px;
   padding: 40px;

   background-color: getColor("secondary-light");
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 4px;
}

.no-scroll {
   overflow: hidden;
}

.modal-btn {
   position: absolute;
   top: 8px;
   right: 8px;

   width: 30px;
   height: 30px;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 50%;

   background-color: getColor("secondary-light");

   @extend %centered;

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      color: getColor("accent");
   }
}

.modal-close-icon {
   fill: currentColor;
}

.modal-title {
   @include font(20px, 1.15, 700, null);
   text-align: center;
   color: getColor("title");

   margin-bottom: 12px;
}
