.feature {
   padding-bottom: 73px;
}

.feature__list {
   display: flex;
   gap: 30px;
}

.feature__item {
   width: calc((100% - 90px) / 4);
}

.box {
   width: 100%;
   height: 120px;
   @extend %centered;

   &__icon {
      width: 70px;
      height: 70px;
   }
}

.feature__box {
   background-color: getColor("background-light");
   margin-bottom: 30px;
}

.feature__title {
   margin-bottom: 10px;

   @include font(14px, 1.14, Null, Null);
   text-transform: uppercase;
}

.feature__text {
   line-height: 1.71;
}
