.team {
   background-color: getColor("background-light");

   &-list {
      display: flex;
      gap: 30px;
   }
}

.team-card {
   width: calc((100% - 60px) / 4);
   background-color: getColor("background-light");
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;

   &-text {
      padding-top: 30px;
      padding-bottom: 30px;
   }

   &-title {
      margin-bottom: 10px;

      @include font(16px, 1.19, 500, Null);
      text-align: center;
   }

   & p {
      @include font(16px, 1.19, Null, Null);
      text-align: center;

      margin-bottom: 16px;
   }
}
